<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wien.kollektiv.bamster"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/life_10"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="wien.kollektiv.bamster.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:noHistory="true"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="wien.kollektiv.bamster.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="wien.kollektiv.bamster.Game.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape"
            android:noHistory="true"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="wien.kollektiv.bamster.GameoverActivity"
            android:label="@string/title_activity_gameover"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        
        <!-- Add the content provider.
        set the exported attribute to false, therefore
        no other application can access our data provider. Otherwise this could be a
        security issue in our application. Other Apps could access our provider and manipulate
        the data within the database. -->
        <provider
			android:name=".Persistenz.HighscoreContentProvider"
			android:authorities="wien.kollektiv.bamster.highscoreprovider"
			android:exported="false" >
   		</provider>
    </application>

</manifest>
